*,
 :after,
 :before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

header {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.header_hero {
    border: 1px solid rgb(6, 6, 110);
    background: url('../assets/img/hero_background_forest.jpg') no-repeat 100% 100% / cover;
    display: flex;
    align-items: center;
    height: 15rem;
    transition: opacity 0.3s ease-in-out;
    transition: translate 0.3s ease-in-out;
}

.header_hero:hover {
    opacity: 0.5;
    transform: translate(20, 30);
}

header .header_logo {
    border: 1px solid rgb(0, 8, 255);
    width: 20rem;
}

header .header_title {
    border: 1px solid rgb(0, 8, 255);
    width: 20rem;
}

header .header_nav {
    padding-left: 5px;
    border-bottom: 1px solid red;
    box-shadow: 12px 12px 10px 1px rgba(0, 0, 255, .2);
}


/********** ****************************/


/**** NAV BAR ******/


/********** ****************************/

nav-bar nav-item ul li div::before {
    padding-inline: 1.2rem;
    color: inherit;
    height: 100%;
    position: relative;
    padding-top: 1.5rem
}

nav-bar nav-item ul li div::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6px;
    background-color: #cbe300;
}


/********** *****/


/**** Main ******/


/********** *****/

main {
    padding-inline: 0.75;
}

main section .section_block {
    display: flex;
    /* justify-content: space-around; */
    border: 1px solid rgb(37, 167, 15);
}

main section .section_block .block_text {
    display: flex;
}

.courses-precedentes .card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}


/* justify-content: space-around; */

.card {
    min-height: 42rem;
    margin-bottom: 50px;
    background-color: lightgray;
}

.card-header {
    overflow: hidden;
    padding: 0;
}

.card img:hover {
    cursor: crosshair;
    transform: scale(1.5);
    background-color: red;
}

section {
    margin-bottom: 3.5rem;
}

.img_container {
    /* width: 10rem;
    height: 10rem; */
    border: 1px solid red;
}

.img_container img {
    display: inline-block;
    width: 100%;
    height: auto;
    border: 1px solid red;
    background-color: mediumpurple;
}

article p {
    max-width: 30rem;
}


/********** *****/


/**** Footer ******/


/********** *****/

footer {
    background-color: #65656711;
    padding-block: 3.5rem;
    height: 10rem;
}

footer .icon {
    display: inline-block;
    transition: transform 0.45s ease-out;
    font-size: 1.5rem;
}

footer .icon:hover {
    transform: scale(1.5) rotateZ(360deg);
}

footer .footer_block {
    border: 1px solid red;
    height: 10rem;
}

footer .footer_block a {
    text-decoration: none;
    list-style: none;
}

footer .footer_block ul {
    list-style: none;
}

footer .footer_block a:hover {
    text-decoration: none;
}

footer .footer_block ul li:nth-child(1) {
    background-color: #b9b9b9;
}


/*************************/